html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-image: radial-gradient(var(--couleur-secondaire), var(--couleur-secondaire-sombre-1));
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    padding: 3rem;
    box-sizing: border-box;
}

/* === Propriétés du calendrier FullCalendar === */

#calendrier {
    display: flex;
    flex-grow: 100;
    min-height: 0;
    min-width: 0;
}

@media screen and (max-width: 280px){
    #calendrier {
        font-size: 0.1em;
    }
}

@media screen and (min-width: 280px){
    #calendrier {
        font-size: 0.25em;
    }
}

@media screen and (min-width: 460px){
    #calendrier {
        font-size: 0.5em;
    }
}

@media screen and (min-width: 630px){
    #calendrier {
        font-size: 0.75em;
    }
}

@media screen and (min-width: 820px){
    #calendrier {
        font-size: 1em;
    }
}

@media screen and (min-width: 1080px){
    #calendrier {
        font-size: 1em;
        margin-left:15%;
        margin-right:15%;
    }
}

table, td, th {
    background-color: var(--couleur-tertiaire-sombre-1);
    color: var(--couleur-tertiaire-lum-2);
}

.fc-col-header-cell-cushion {
    color: var(--couleur-tertiaire-lum-2);
}

.fc-daygrid-day-number {
    color: var(--couleur-tertiaire-lum-2);
}

.fc-toolbar-title {
    color: var(--couleur-principale-lum-1);
    font-family: 'Fira Sans';
}

.fc-event-time, .fc-event-title {
    color: var(--couleur-tertiaire-lum-2);
}

.fc-daygrid-block-event .fc-event-title,
.fc-daygrid-block-event .fc-event-time,
.fc-v-event .fc-event-title,
.fc-v-event .fc-event-time {
    filter: invert(1);
    mix-blend-mode: difference;
}

.fc-daygrid-dot-event:hover {
    cursor: pointer;
    background-color: var(--couleur-tertiaire);
}

.fc-event-main-frame:hover {
    cursor: pointer;
}

.fc-timegrid-axis-cushion {
    font-size: 0.85em;
}