:root {
	--couleur-principale: rgb(13, 25, 86);
	--couleur-principale-lum-1: rgb(34, 69, 112);
	--couleur-principale-lum-2: #485b7c;
	--couleur-principale-sombre-1: rgb(35, 16, 78);
	--couleur-principale-sombre-2: rgb(31, 6, 46);

	--couleur-secondaire: rgb(229, 192, 72);
	--couleur-secondaire-lum-1: rgb(240, 222, 178);
	--couleur-secondaire-lum-2: rgb(249, 248, 228);
	--couleur-secondaire-sombre-1: rgb(199, 141, 39);
	--couleur-secondaire-sombre-2: rgb(137, 95, 36);

	--couleur-tertiaire: rgb(113, 70, 27);
	--couleur-tertiaire-lum-1: rgb(253, 235, 211);
	--couleur-tertiaire-lum-2: rgb(255, 255, 255);
	--couleur-tertiaire-sombre-1: rgb(49, 28, 5);
	--couleur-tertiaire-sombre-2: rgb(31, 11, 4);

	--couleur-ombre: #0003;
	--couleur-bordure-ombre: var(--couleur-ombre);

	--arrière-plan: radial-gradient(var(--couleur-secondaire), var(--couleur-secondaire-sombre-1));
	--modale-arrière-plan: #0005;

/*====== FullCalendar =======*/
  	--fc-small-font-size: .85em;
  	--fc-page-bg-color: var(--couleur-tertiaire-lum-2);
  	--fc-neutral-bg-color: var(--couleur-tertiaire);
  	--fc-neutral-text-color: var(--couleur-tertiaire-lum-1);
  	--fc-border-color: var(--couleur-tertiaire-lum-1);

  	--fc-button-text-color: var(--couleur-tertiaire-lum-2);
  	--fc-button-bg-color: var(--couleur-principale);
  	--fc-button-border-color: transparent;
  	--fc-button-hover-bg-color: var(--couleur-principale-sombre-1);
  	--fc-button-hover-border-color: transparent;
  	--fc-button-active-bg-color: var(--couleur-principale-sombre-2);
  	--fc-button-active-border-color: transparent;

  	--fc-event-resizer-thickness: 8px;
  	--fc-event-resizer-dot-total-width: 8px;
  	--fc-event-resizer-dot-border-width: 1px;
  	--fc-bg-event-opacity: 0.3;
  	--fc-highlight-color: color-mix(in srgb, var(--couleur-tertiaire-lum-2) 25%,transparent);
  	--fc-today-bg-color: color-mix(in srgb, var(--couleur-principale) 25%,transparent);

  	--fc-daygrid-event-dot-width: 8px;

  	--fc-list-event-dot-width: 10px;
  	--fc-list-event-hover-bg-color: #f5f5f5;
}
