:root {
	--couleur-principale: rgb(9, 138, 213);
	--couleur-principale-lum-1: rgb(61, 186, 239);
	--couleur-principale-lum-2: rgb(98, 228, 245);
	--couleur-principale-sombre-1: rgb(51, 77, 180);
	--couleur-principale-sombre-2: rgb(43, 62, 140);

	--couleur-secondaire: rgb(112, 143, 98);
	--couleur-secondaire-lum-1: rgb(159, 182, 130);
	--couleur-secondaire-lum-2: rgb(192, 208, 173);
	--couleur-secondaire-sombre-1: rgb(27, 72, 27);
	--couleur-secondaire-sombre-2: rgb(35, 59, 40);

	--couleur-tertiaire: rgb(132, 126, 123);
	--couleur-tertiaire-lum-1: rgb(198, 198, 198);
	--couleur-tertiaire-lum-2: rgb(255, 255, 255);
	--couleur-tertiaire-sombre-1: rgb(84, 78, 75);
	--couleur-tertiaire-sombre-2: rgb(26, 17, 14);

	--couleur-ombre: #0003;
	--couleur-bordure-ombre: var(--couleur-ombre);

	--modale-arrière-plan: #0005;

/*====== FullCalendar =======*/
  	--fc-small-font-size: .85em;
  	--fc-page-bg-color: var(--couleur-tertiaire-lum-2);
  	--fc-neutral-bg-color: var(--couleur-tertiaire);
  	--fc-neutral-text-color: var(--couleur-tertiaire-lum-1);
  	--fc-border-color: var(--couleur-tertiaire-lum-1);

  	--fc-button-text-color: var(--couleur-tertiaire-lum-2);
  	--fc-button-bg-color: var(--couleur-principale);
  	--fc-button-border-color: transparent;
  	--fc-button-hover-bg-color: var(--couleur-principale-sombre-1);
  	--fc-button-hover-border-color: transparent;
  	--fc-button-active-bg-color: var(--couleur-principale-sombre-2);
  	--fc-button-active-border-color: transparent;

  	--fc-event-resizer-thickness: 8px;
  	--fc-event-resizer-dot-total-width: 8px;
  	--fc-event-resizer-dot-border-width: 1px;
  	--fc-bg-event-opacity: 0.3;
  	--fc-highlight-color: color-mix(in srgb, var(--couleur-tertiaire-lum-2) 25%,transparent);
  	--fc-today-bg-color: color-mix(in srgb, var(--couleur-principale) 25%,transparent);

  	--fc-daygrid-event-dot-width: 8px;

  	--fc-list-event-dot-width: 10px;
  	--fc-list-event-hover-bg-color: #f5f5f5;
}
