#filtres {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    width: 100%;

    border: 6px solid var(--fc-button-hover-bg-color);
    border-radius: 16px;
    background-color: #0003;

    font-size: 2.5em;
}


#étiquette-filtres{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    margin-right: 1em;
    width: fit-content;

    border-radius: 16px;

    background-color: var(--fc-button-bg-color);
    color: var(--fc-button-text-color);
    font-weight: bold;

}

#filtres-liste {
    display: flex;
    overflow-x: scroll;
    width: 10px;
    flex-grow: 100;
    padding: 0.5em;
}

.filtres-bouton{
    display: flex;
    width: fit-content;
    padding: 0.3em;
    margin-right: 1em;
    border-radius: 10%;
    border: 15px solid #0000;
}

.filtres-bouton:hover{
    border-color: #ff6600ff;
}