#filtres {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 100%;

    font-size: 1.2em;

    border: 2px solid var(--fc-button-bg-color);
    border-radius: 0.5em;
    background-color: var(--couleur-ombre);
}


#étiquette-filtres{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    margin-right: 0.5em;
    width: fit-content;

    border-radius: 0.5em;

    background-color: var(--fc-button-bg-color);
    color: var(--fc-button-text-color);
    font-weight: bold;

}

#filtres-liste {
    display: flex;
    overflow-x: scroll;
    width: 10px;
    flex-grow: 100;
    padding: 0.5em;
}

.filtres-bouton{
    display: flex;
    width: fit-content;
    padding: 0.3em;
    margin-right: 1em;
    border-radius: 0.25em;
}

.filtres-bouton:hover{
    border-color: var(--couleur-principale);
}